<div class="joudan clearfix">
   <div class="why_n_picture">
        <a class="modal-trigger" href="#modal1">
            <div class="picture clearfix">
                <div class="shishi">
                    <img alt="shishi" src="/shishi.svg"/>
                </div>
                <div class="kiki">
                    <img alt="kiki" src="/kiki.svg"/>
                </div>
                <div class="picture_background">
                    <div class="picture_background2">
                    </div>
                </div>
            </div>
        </a>
        <!--モーダル-->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <p><br>我们的祖先智人是现存唯一的人类。在存在过的人类中，智人的体格，体力都不是最强的。可是，我们创造了石器，开发了工具，开始了集体活动，所以才生存下来了。<br>
                <br>我们这个时代，技术的进步，社会的变化都是飞快的。很难想象当您们孩子长大后的社会还会有哪些职业留存，哪些技能是社会需要的。<br><br>
                不过我们希望汉语是您们孩子成长后的一个有用的工具，能用来开创他们的人生。我们把这个愿望寄托在两个智人吉祥物身上。
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">关闭</a>
            </div>
        </div>
        <div class="why">
            <div class="why2">
                <a href="/zh/hyoshigi/why"></a>
                <span>学习<br>汉语</span>
            </div>
            <div class="why34 clearfix">
                <div class="why3">
                    <span>为什么要让小孩学中文</span>
                </div>
                <div class="why4">
                    <span>
                        ・中国经济的影响力<br/>
                        ・中文信息量的增加<br/>
                        ・中国企业的存在感
                    </span>
                </div>
               <!--もっと詳しくのボタン-->
                <div class="mottokuwashiku">
                    <button class="btn waves-effect" type="submit" name="action">了解更多....
                        <i class="material-icons right">chat</i>
                        <a href="/zh/hyoshigi/why"></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="what">
        <div class="what2">
            <a href="/zh/hyoshigi/what"></a>
            <span>学校<br>特色</span>
        </div>
        <div class="what34 clearfix">
            <a href="/zh/hyoshigi/what"></a>
            <div class="what3">
                <span>拍子木塾的<br/>中文教育</span>
            </div>
            <div class="what4">
                <span>
                    ・重视听说能力<br/>
                    ・重视标准普通话<br/>
                    ・让孩子有兴趣学下去
                </span>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">了解更多....
                    <i class="material-icons right">chat</i>
                    <a href="/zh/hyoshigi/what"></a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="gedan clearfix">
    <div class="what_kind">
        <div class="what_kind2">
            <a href="/zh/hyoshigi/what_kind"></a>
            <span>学习<br>课程</span>
        </div>
        <div class="what_kind34 clearfix">
            <a href="/zh/hyoshigi/what_kind"></a>
            <div class="what_kind3">
                <span>课程详情</span>
            </div>
            <div class="what_kind4">
                <span>
                    ・课程形式<br/>
                    ・学习效果<br/>
                    ・上课时间
                </span>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">了解更多....
                    <i class="material-icons right">chat</i>
                    <a href="/zh/hyoshigi/what_kind"></a>
                </button>
            </div>            
        </div>
    </div>
    
    <div class="how_much" id="test">
        <div class="how_much2">
            <a href="/zh/hyoshigi/how_much"></a>
            <span>学费<br>价格</span>
        </div>
        <div class="how_much34 clearfix">
            <a href="/zh/hyoshigi/how_much"></a>
            <div class="how_much3">
                <span>学费详情</span>
            </div>
            <div class="how_much4">
                <span>
                    ・一对一课程<br/>
                    ・小班课
                </span>
                </a>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">了解更多....
                    <i class="material-icons right">chat</i>
                    <a href="/zh/hyoshigi/how_much"></a>
                </button>
            </div>   
        </div>       
    </div>
    
    <div class="where">
        <div class="where2">
            <a href="/zh/hyoshigi/where"></a>
            <span>教室<br>地点</span>
        </div>
        <div class="where34 clearfix">
            <a href="/zh/hyoshigi/where"></a>
            <div class="where3">
                <span>教室地点</span>
            </div>
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">了解更多....
                    <i class="material-icons right">chat</i>
                    <a href="/zh/hyoshigi/where"></a>
                </button>
            </div>   
        </div>
    </div>
    
    <div class="more">
        <div class="more2">
            <a href="/zh/hyoshigi/more"></a>
            <span>更多<br>信息</span>
        </div>
        <div class="more34 clearfix">
            <a href="/zh/hyoshigi/more"></a>
            <div class="more3">
                <span>更多信息</span>
            </div>
            <div class="more4">
                <span>
                    ・常见问题<br/>
                    ・在线咨询<br/>
                    ・免费试听
                </span>
            </div>
            <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">了解更多....
                    <i class="material-icons right">chat</i>
                    <a href="/zh/hyoshigi/more"></a>
                </button>
            </div>
        </div>
    </div>
</div>
