<div class="joudan clearfix">
   <div class="why_n_picture">
        <a class="modal-trigger" href="#modal1">
            <div class="picture clearfix">
                <div class="shishi">
                    <img alt="shishi" src="/shishi.svg"/>
                </div>
                <div class="kiki">
                    <img alt="kiki" src="/kiki.svg"/>
                </div>
                <div class="picture_background">
                    <div class="picture_background2">
                    </div>
                </div>
            </div>
        </a>
        <!--モーダル-->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <p>
                <br>Our ancestor, Homo sapiens is the only human being existing on Earth. Based on the researchers, their physical was weaker than other human beings who had survived before, and their physique was also smaller. However, they survived by using stonewares, tools and collective activities.<br><br>
                The development of technologies and the speed of globalization are accelerating year by year. It is impossible to imagine what kind of occupation will remain and what kind of skill is needed future.<br><br>
                We hope Chinese can be a useful tool for our student to survive the coming uncertain world. We have characters called "Shishi" and "Kiki" of Homo sapiens, who will desire to help our students during their study in Hyoshigi.<br>
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <div class="why">
            <div class="why2">
                <a href="/en/hyoshigi/why"></a>
                <span>Why<br>Chinese?</span>
            </div>
            <div class="why34 clearfix">
                <div class="why3">
                    <span>Why is it important to learn Chinese?</span>
                </div>
                <div class="why4">
                    <span>
                        ・Widen future career<br/>
                        ・Globalisation<br/>
                        ・Communication tool to the world
                    </span>
                </div>
               <!--もっと詳しくのボタン-->
                <div class="mottokuwashiku">
                    <button class="btn waves-effect" type="submit" name="action">>> More
                        <i class="material-icons right">chat</i>
                        <a href="/en/hyoshigi/why"></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="what">
        <div class="what2">
            <a href="/en/hyoshigi/what"></a>
            <span>What’s<br>Hyoshigi?</span>
        </div>
        <div class="what34 clearfix">
            <a href="/en/hyoshigi/what"></a>
            <div class="what3">
                <span>Why us?</span>
            </div>
            <div class="what4">
                <span>
                    ・Focus on Listening and Speaking<br/>
                    ・Native Chinese Accessnt<br/>
                    ・Lean with Joy
                </span>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">>> More
                    <i class="material-icons right">chat</i>
                    <a href="/en/hyoshigi/what"></a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="gedan clearfix">
    <div class="what_kind">
        <div class="what_kind2">
            <a href="/en/hyoshigi/what_kind"></a>
            <span>Class<br>Types</span>
        </div>
        <div class="what_kind34 clearfix">
            <a href="/en/hyoshigi/what_kind"></a>
            <div class="what_kind3">
                <span>Class Types</span>
            </div>
            <div class="what_kind4">
                <span>
                    ・Classroom<br/>
                    ・Target<br/>
                    ・Year schedule
                </span>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">>> More
                    <i class="material-icons right">chat</i>
                    <a href="/en/hyoshigi/what_kind"></a>
                </button>
            </div>            
        </div>
    </div>
    
    <div class="how_much" id="test">
        <div class="how_much2">
            <a href="/en/hyoshigi/how_much"></a>
            <span>Class<br>Fee</span>
        </div>
        <div class="how_much34 clearfix">
            <a href="/en/hyoshigi/how_much"></a>
            <div class="how_much3">
                <span>Price</span>
            </div>
            <div class="how_much4">
                <span>
                    ・One-to-one Private Lessons<br/>
                    ・Small Group Classes
                </span>
                </a>
            </div>
        <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">>> More
                    <i class="material-icons right">chat</i>
                    <a href="/en/hyoshigi/how_much"></a>
                </button>
            </div>   
        </div>       
    </div>
    
    <div class="where">
        <div class="where2">
            <a href="/en/hyoshigi/where"></a>
            <span>School<br>Location</span>
        </div>
        <div class="where34 clearfix">
            <a href="/en/hyoshigi/where"></a>
            <div class="where3">
                <span>Location</span>
            </div>
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">>> More
                    <i class="material-icons right">chat</i>
                    <a href="/en/hyoshigi/where"></a>
                </button>
            </div>   
        </div>
    </div>
    
    <div class="more">
        <div class="more2">
            <a href="/en/hyoshigi/more"></a>
            <span>Frequent<br>Q&A</span>
        </div>
        <div class="more34 clearfix">
            <a href="/en/hyoshigi/more"></a>
            <div class="more3">
                <span>More about Us</span>
            </div>
            <div class="more4">
                <span>
                    ・FAQ<br/>
                    ・Contact Us<br/>
                    ・A Free Trial
                </span>
            </div>
            <!--もっと詳しくのボタン-->
            <div class="mottokuwashiku">
                <button class="btn waves-effect" type="submit" name="action">>> More
                    <i class="material-icons right">chat</i>
                    <a href="/en/hyoshigi/more"></a>
                </button>
            </div>
        </div>
    </div>
</div>
