<div class = "what_haikei">
    <div class="kobetsupage">
        <button type="button" id="menubtn">
            <i class="material-icons">menu</i><span>MENU</span>
        </button>
        <ul class="kobetsupage2" id="linkurl2">
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/why" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten pinku"></div>
                    </div>
                    <p class="link_moji"><span>Chinese</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/what_kind" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten kiiro"></div>
                    </div>
                    <p class="link_moji"><span>Lesson</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/how_much" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten midori"></div>
                    </div>
                    <p class="link_moji"><span>Fee</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/where" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten ao"></div>
                    </div>
                    <p class="link_moji"><span>Location</span></p>                    
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/more" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten murasaki"></div>
                    </div>
                    <p class="link_moji"><span>FAQ</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="what_haikei2 content_top_shadow">
        <div class="whatIsHyoshigi">
            <span class="letter1">Our school mission is:</span>
            <span class="letter2">拍子木塾は<br>以下のような中国語教室を<br>目指しています。</span>
            <div class="whatIsHyoshigi2">
                <span>Easy access and friendly environment<br>
                Can be familiar with a Native Chinese in Japan<br>
                Top quality with reasonable pricing.</span>
            </div>
        </div>
    </div>
    <div class="what_haikei2 background_gray">
        <div class="teacher">
            <span>Qualified & Experienced Teachers</span>
        </div>
        <div class="teacher2">
            <span>
                All our licensed teachers will have above Pre-2 level of Putonghua Shuiping Ceshi Certification (PSC) which is a test to measure their standard mandarin.
            </span>
            <span class="aka">
                <br>All of our teacher has Putonghua Shuiping Ceshi certification above pre-2.
            </span>
        </div>
        <div class="teacherTable">
            <span>Level of PSC Test and Profession in China</span>
        </div>
        <div class="teacherTable2">
            <table class="teacherTable3">
                <tr class="aka2">
                    <th>Level</th>
                    <th>Profession Required</th>
                </tr>
                <tr>
                    <td>One</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pre-1</td>
                    <td>Reporter</td>
                </tr>
                <tr>
                    <td>Two</td>
                    <td>Chinese Teacher</td>
                </tr>
                <tr>
                    <td>Pre-2</td>
                    <td>Teacher</td>
                </tr>
                <tr>
                    <td>Three</td>
                    <td>Public Servant</td>
                </tr>
                <tr>
                    <td>Pre-3</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="what_haikei2">
        <div class="lessonflow">
            <span>Outline of Our Lessons</span>
        </div>
        <div class="lessonimage">
            <div class="lessonimage2">
                <img class="lesson"alt="lessonimage" src="/lesson_en.svg">
                <img class="shishi_walk" alt="walk" src="/walkr.gif">
                <img class="shishi_walk2" alt="walk" src="/walkl.gif">
            </div>
        </div>        
    </div>
    <div class="what_haikei2 content_bottom_shadow background_gray">
        <div class="speaking">
            <span>Focus on Listening and Speaking</span>
        </div>
        <div class="speaking2">
            <span>
                We will focus on listening and speaking in our lesson (out of Writing & Reading.)
                <br><br>Reason:<br>
            </span>
            <span class="speaking2_2">
                1. It is easier to catch a native accent and pronunciation for Kids.<br><br>
                2. We will not teach kids Chinese Characters at this stage. It is because Japanese & Chinese Characters have a lots of common and it will confuse their study for Japanese.
            </span>
        </div>
        <div class="speaking3 clearfix">
            <div class="speaking31">
                <div class="speaking3picture">
                    <img alt="speakingpicture" src="/speakingpicture2.svg">
                </div>
            </div>
        </div>
        <div class="speaking4">
            <span>
                Our aim is for all our students to master Chinese. Therefore we will have a small group (up to 5 students) for teacher to focus all individual students.
            </span>
        </div>
    </div>
    <div class="nextpage">
        <a href="/en/hyoshigi/what_kind", class="nextpage2">
            <span>
               >> What kind of classes do you have?
            </span>
        </a>
        <a href="#", class="totop">
            <span>
                TO TOP
            </span>
        </a>
    </div>
</div>
