<div class = "what_haikei">
    <div class="kobetsupage">
        <button type="button" id="menubtn">
            <i class="material-icons">menu</i><span>MENU</span>
        </button>
        <ul class="kobetsupage2" id="linkurl2">
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/why" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten pinku"></div>
                    </div>
                    <p class="link_moji"><span>学中文</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/what_kind" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten kiiro"></div>
                    </div>
                    <p class="link_moji"><span>课程详情</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/how_much" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten midori"></div>
                    </div>
                    <p class="link_moji"><span>学费</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/where" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten ao"></div>
                    </div>
                    <p class="link_moji"><span>教室</span></p>                    
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/more" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten murasaki"></div>
                    </div>
                    <p class="link_moji"><span>常见问题</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="what_haikei2 content_top_shadow">
        <div class="whatIsHyoshigi">
            <span class="letter1">
                我们指向的汉语学校：
            </span>
            <span class="letter2">拍子木塾は<br>以下のような中国語教室を<br>目指しています。</span>
            <div class="whatIsHyoshigi2">
                <span>舒畅的学习氛围<br>
                高质量的中文教育<br>
                透明的价格体系</span>
            </div>
        </div>
    </div>
    <div class="what_haikei2 background_gray">
        <div class="teacher">
            <span>只用具有标准普通话资格证书的老师</span>
        </div>
        <div class="teacher2">
            <span>
                我们都知道在国内当老师，除了教师资格以外还需要[普通话水平测试]的证书。在少儿时期能不能接触标准的普通话，对小孩未来的中文发音非常重要。
            </span>
            <span class="aka">
                <br>在拍子木塾上课的老师，我们都要求他们有普通话水平测试二级以上的资格。
            </span>
        </div>
        <div class="teacherTable">
            <span>国内各行业人员的普通话水平达标要求</span>
        </div>
        <div class="teacherTable2">
            <table class="teacherTable3">
                <tr class="aka2">
                    <th>级别</th>
                    <th>职业</th>
                </tr>
                <tr>
                    <td>一级甲</td>
                    <td></td>
                </tr>
                <tr>
                    <td>一级乙</td>
                    <td>播音员</td>
                </tr>
                <tr>
                    <td>二级甲</td>
                    <td>语文教师</td>
                </tr>
                <tr>
                    <td>二级乙</td>
                    <td>教师</td>
                </tr>
                <tr>
                    <td>三级甲</td>
                    <td>国家公务员</td>
                </tr>
                <tr>
                    <td>三级乙</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="what_haikei2">
        <div class="lessonflow">
            <span>上课流程</span>
        </div>
        <div class="lessonimage">
            <div class="lessonimage2">
                <img class="lesson"alt="lessonimage" src="/lesson_zh.svg">
                <img class="shishi_walk" alt="walk" src="/walkr.gif">
                <img class="shishi_walk2" alt="walk" src="/walkl.gif">
            </div>
        </div>        
    </div>
    <div class="what_haikei2 content_bottom_shadow background_gray">
        <div class="speaking">
            <span>重视听力和会话能力</span>
        </div>
        <div class="speaking2">
            <span>
                在语言的4技能中，我们重视「听力」和「会话能力」。
                <br><br>理由：<br>
            </span>
            <span class="speaking2_2">
                1. 儿童期间更容易掌握标准的发音与语调<br><br>
                2. 中日都使用汉字，可是有很多汉字形状不一样的。我们不希望在孩子们在小学学汉字的时候有不必要的混乱。
            </span>
        </div>
        <div class="speaking3 clearfix">
            <div class="speaking31">
                <div class="speaking3picture">
                    <img alt="speakingpicture" src="/speakingpicture2.svg">
                </div>
            </div>
        </div>
        <div class="speaking4">
            <span>
                我们希望通过有资格的老师，让孩子们听到标准的中文，通过小班课，能让每个小孩在课上发言，并且得到纠正。我们希望孩子们参加的每一节课都是对他们有价值的内容。
            </span>
        </div>
    </div>
    <div class="nextpage">
        <a href="/zh/hyoshigi/what_kind", class="nextpage2">
            <span>
               >> 拍子木塾有哪些课程？
            </span>
        </a>
        <a href="#", class="totop">
            <span>
                TO TOP
            </span>
        </a>
    </div>
</div>
