<div class = "why_haikei">
    <div class="kobetsupage">
        <button type="button" id="menubtn">
            <i class="material-icons">menu</i><span>MENU</span>
        </button>
        <ul class="kobetsupage2" id="linkurl2">
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/what" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten pinku"></div>
                    </div>
                    <p class="link_moji"><span>Hyoshigi</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/what_kind" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten kiiro"></div>
                    </div>
                    <p class="link_moji"><span>Lesson</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/how_much" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten midori"></div>
                    </div>
                    <p class="link_moji"><span>Fee</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/where" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten ao"></div>
                    </div>
                    <p class="link_moji"><span>Location</span></p>                    
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/en/hyoshigi/more" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten murasaki"></div>
                    </div>
                    <p class="link_moji"><span>FAQ</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class = "why_content why_haikei2">
        <div class ="why_chinese">
            <div class = "whychinese">
                <span class="letter1">
                    Let’s start<br> learning Chinese!
                </span>
                <span class="letter2">
                    Let’s start learning Chinese!
                </span>
            </div>
            <div class = "whychinese2">
                <span>
                    We believe that Chinese will be one of essential tools to survive in globalised world.
                </span>
            </div>
            <!--<div class= "whychinese3">-->
            <!--    <span class="whychinese31">-->
            <!--        理由：-->
            <!--    </span>-->
            <!--    <span class="whychinese32">-->
            <!--        世界経済における中国の存在感<br>中国語による情報量の増加<br>文化・IT面での追い上げ-->
            <!--    </span>-->
            <!--</div>-->
        </div>
    </div>
    <div class="why_content2 why_haikei2">
        <div class="economy">
            <span>
                China is Increasing its Existence <br>in The World Economy.
            </span>
        </div>
        <div class = "economy2">
            <span>
                Once, Japan desperately tried hard to catch up with the West. Nowadays, China with a population more than 10 times is growing the same way to catch up with Japan, Europe and the United States. Due to its population size, China is developing with enormous momentum.<br><br>
                Chinese who used to come for work in Japan becomes a business partner. In the past, Chinese who was a problematic neighbor for illegal immigrant to Japan turn into one of biggest tourists and their economical impact is more than 1 trillion yen a year to Japan.
            </span>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_5">
                    <img alt="gdp" src="/gdp2.svg">
                </div>
            </div>
            <div class="tabletext r_5_1">
                <span>
                    The 2nd biggest Eco in the world.
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table3_5">
                    <img alt="tourist" src="/tourist4.svg">
                </div>
            </div>
            <div class="tabletext l_5_2">
                <span>
                    In japan, the number of chinese tourists 
                    increased 5 times in four years.
                </span>
            </div>
        </div>
    </div>
    <div class="why_content3 why_haikei2">
        <div class="information">
            <span>
                Increase of Information Volume
            </span>
        </div>
        <div class = "information2">
            <span>
                China is investing not only economical but academic field as well. The quality of the university, the number of research papers, and the number of patents are essential for new technologies. China is increasing an academic pressure to world.
            </span>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_7">
                    <img alt="researcher" src="/patent.svg">
                </div>
            </div>
            <div class="tabletext r_7_2">
                <span>
                    The number of international patent applications in China
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table3_7">
                    <img alt="patent" src="/researcher.svg">
                </div>
            </div>
            <div class="tabletext l_7_2">
                <span>
                    The number of Chinese researchers in the world
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_7">
                    <img alt="ranking" src="/ranking2.svg">
                </div>
            </div>
            <div class="tabletext r_7_1">
                <span>
                    World University Ranking
                </span>
            </div>
        </div>
        <div class = "information3">
            <span>
                One of the main reasons for studying English is to obtain the latest information and knowledge which are published in English. From now on, we are going to encounter that we need Chinese to get the latest information faster than in English.
            </span>
        </div>
    </div>
    <div class="why_content4 why_haikei2">
        <div class="culture">
            Growing Influence on Tech.
        </div>
        <div class="culturetext">
            In Japanese news, we often hear Chinese applications such as TikTok, electronic money such as Alipay, and the names of IT companies such as Alibaba and Tencent.<br><br>
            Net services has no borders. Accessibility is crucial and good tech can spread to the world. The amount of investment for Chinese apps, movies and games are increasing every year, and we can enjoy them in real time in the world. Therefore, if you can speak Chinese, the world you can access will be extensively expanded.
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_7">
                    <img alt="game" src="/game2.svg">
                </div>
            </div>
            <div class="tabletext r_7_2">
                <span>
                    Game revenue ranking <br>by country
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table3_7">
                    <img alt="language" src="/logo.svg">
                </div>
            </div>
            <div class="tabletext l_7_2">
                <span>
                    World-famous<br>Chinese IT Companies
                </span>
            </div>
        </div>
    </div>
    <div class="nextpage">
        <a href="/en/hyoshigi/what", class="nextpage2">
            <span>
               >> What kind of school Hyoshigi is?
            </span>
        </a>
        <a href="#", class="totop">
            <span>
                TO TOP
            </span>
        </a>
    </div>
</div>
