<div class = "why_haikei">
    <div class="kobetsupage">
        <button type="button" id="menubtn">
            <i class="material-icons">menu</i><span>MENU</span>
        </button>
        <ul class="kobetsupage2" id="linkurl2">
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/what" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten pinku"></div>
                    </div>
                    <p class="link_moji"><span>拍子木塾</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/what_kind" class="linkurl"></a>
                     <div class = "links3">
                        <div class = "ten kiiro"></div>
                    </div>
                    <p class="link_moji"><span>课程详情</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/how_much" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten midori"></div>
                    </div>
                    <p class="link_moji"><span>学费</span></p>
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/where" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten ao"></div>
                    </div>
                    <p class="link_moji"><span>教室</span></p>                    
                </div>
            </li>
            <li>
                <div class="link_nav">
                    <a href="/zh/hyoshigi/more" class="linkurl"></a>
                    <div class = "links3">
                        <div class = "ten murasaki"></div>
                    </div>
                    <p class="link_moji"><span>常见问题</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class = "why_content why_haikei2">
        <div class ="why_chinese">
            <div class = "whychinese">
                <span class="letter1">
                    下一个时代<br>是属于中国的
                </span>
                <span class="letter2">
                    -下一个时代是属于中国的-
                </span>
            </div>
            <div class = "whychinese2">
                <span>
                    在这个中国正在飞快成长的时代，不要让孩子们忘记他们的母语。今后20-30年，汉语会越来越重要。
                </span>
            </div>
            <!--<div class= "whychinese3">-->
            <!--    <span class="whychinese31">-->
            <!--        理由：-->
            <!--    </span>-->
            <!--    <span class="whychinese32">-->
            <!--        世界経済における中国の存在感<br>中国語による情報量の増加<br>文化・IT面での追い上げ-->
            <!--    </span>-->
            <!--</div>-->
        </div>
    </div>
    <div class="why_content2 why_haikei2">
        <div class="economy">
            <span>
                中国经济的影响力
            </span>
        </div>
        <div class = "economy2">
            <span>
                中国经济在世界经济的影响力年年在增加，这个应该每个人都有感受。经济的增长意味着中国的公司会越来越活跃，和中国公司打交道的外国企业也会越来越多。<br><br>
                这也意味着需要用中文打交道的地方也会越来越多。目前已经有很多公司开始招聘会中文的人才了。在过10-20年，会说中文绝对是找工作时的优势之一。
            </span>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_5">
                    <img alt="gdp" src="/gdp2.svg">
                </div>
            </div>
            <div class="tabletext r_5_1">
                <span>
                    GDP已经是世界第二了
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table3_5">
                    <img alt="tourist" src="/tourist4.svg">
                </div>
            </div>
            <div class="tabletext l_5_2">
                <span>
                    来日本的中国游客<br>
                    在4年增加了5倍
                </span>
            </div>
        </div>
    </div>
    <div class="why_content3 why_haikei2">
        <div class="information">
            <span>
                中文的一线信息会越来越多
            </span>
        </div>
        <div class = "information2">
            <span>
                不止是经济面，在学术面，中国的重要性也是日日在提升。清华大学在世界大学的排名榜上已经超过了东京大学。全世界的中国研究人员总数也已超过了美国，提出的专利申请也在年年增加。
            </span>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_7">
                    <img alt="researcher" src="/patent.svg">
                </div>
            </div>
            <div class="tabletext r_7_1">
                <span>
                    中国的专利申请数量
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table3_7">
                    <img alt="patent" src="/researcher.svg">
                </div>
            </div>
            <div class="tabletext l_7_2">
                <span>
                    中国的研究人员总数<br>
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_7">
                    <img alt="ranking" src="/ranking2.svg">
                </div>
            </div>
            <div class="tabletext r_7_1">
                <span>
                    大学排行榜
                </span>
            </div>
        </div>
        <div class = "information3">
            <span>
                以前我们说要学英文，就是希望可以得到欧美的新信息，最新知识。今后，用汉语写的重要论文，资料，书籍会越来越多，这些不止是在中国的一线信息，也逐渐会成为世界的一线信息。
            </span>
        </div>
    </div>
    <div class="why_content4 why_haikei2">
        <div class="culture">
            科技面，文化面的成长
        </div>
        <div class="culturetext">
            阿里巴巴，腾讯，支付宝，这些词已经不是只有在中国才能听得到的词了。全世界的新闻都在报道这些企业。同时，无人机，AI技术，自动驾驶关联的企业中中国企业的排名也是很高的。<br><br>
            在看文化方面，抖音已经在日本很有名了。引入日本的中国电影，游戏也是年年在增加。以前是我们学日语看动漫，在过几年有可能就是日本人为了看中国的电影学中文了。
        </div>
        <div class="table clearfix">
            <div class="table2">
                <div class="table2_7">
                    <img alt="game" src="/game2.svg">
                </div>
            </div>
            <div class="tabletext r_7_2">
                <span>
                    各国游戏收入排行榜<br>
                </span>
            </div>
        </div>
        <div class="table clearfix">
            <div class="table3">
                <div class="table3_7">
                    <img alt="language" src="/logo.svg">
                </div>
            </div>
            <div class="tabletext l_7_2">
                <span>
                    世界著名的<br>中国IT企业
                </span>
            </div>
        </div>
    </div>
    <div class="nextpage">
        <a href="/zh/hyoshigi/what", class="nextpage2">
            <span>
               >> 拍子木塾是怎么样的中文学校？
            </span>
        </a>
        <a href="#", class="totop">
            <span>
                TO TOP
            </span>
        </a>
    </div>
</div>
